[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
vcrpy = "*"
ipython = "*"
tox = "*"
codecov = "*"
pydrag = {path = "."}

[packages]
