[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
vcrpy = "*"
ipython = "*"
tox = "*"
"e1839a8" = {path = "."}

[packages]
"e1839a8" = {path = ".", editable = true}
